footer {
  .col1 {
    text-align: left;
  }

  .col2 {
    text-align: center;
  }

  .col3 {
    text-align: right;
  }

  padding: 100px 0;
  background-color: #f8f8f8;
  #social a {
    color: $horizon-blue;
    font-size: 2.5em;
    padding-right: 1em;
  }
  #social a:hover{
    color: $horizon-green;
  }
  p.copyright {
    margin: 15px 0 0;
  }

  @media(max-width:767px){
    .col1 {
      text-align: center;
    }

    .col2 {
      text-align: center;
    }

    .col3 {
      text-align: center;
    }
  }
}
