// Home Section on Homepage
.intro-header {
  background-attachment: fixed;
  background-image: url('../img/man.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size:cover;
  color: $horizon-blue;
  min-height: 500px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;

  > h3 {
    background-color: $horizon-green;
    color: #ffffff;
    display: block;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;

    img {
      height: auto;
      width: 700px;
    }

    @media(max-width:767px) {

      .intro-message {
        padding-bottom: 15%;

        img {
          height: auto;
          width: 700px;
        }

        > h1 {
          font-size: 3em;
        }

      }

      ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
      }

      ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
      }

      .intro-divider {
        width: 100%;
      }

    }

  }

}
