// Home Section on Homepage
.intro-header {
  padding-bottom: 50px;
  text-align: center;
  color: $horizon-blue;
  background: url(../img/steps.jpg) no-repeat bottom right;
  background-size: cover;

  .intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;

    img {
      height: auto;
      width: 700px;
    }

    > h3 {
      background-color: $horizon-blue;
      color: #ffffff;
      display: inline-block;
      font-weight: 300;
      font-style: italic;
      padding: 10px 50px;
    }

    @media(max-width:767px) {

      .intro-message {
        padding-bottom: 15%;

        img {
          height: auto;
          width: 700px;
        }

        > h1 {
          font-size: 3em;
        }

      }

      ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
      }

      ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
      }

      .intro-divider {
        width: 100%;
      }

    }

  }

}
