$navbar-height: 82px;

.navbar-brand {
    height: $navbar-height;
}
.navbar-collapse > ul > li {
    height: 50px;
    padding: 15px 0;
}

.navbar-default {
	background-color: $horizon-blue;
	border-bottom: 0;
	color: white;

	.navbar-nav {
		> li > a {
	    color: white;
		}

		> li > a:hover {
	    color: $horizon-green;
		}
		
	}

}