$navbar-height: 82px;

.navbar-brand {
    height: $navbar-height;
}
.navbar-collapse > ul > li {
    height: 50px;
    padding: 15px 0;
}

.navbar-default {
	background-color: $horizon-blue;
	border-bottom: 0;
	color: white;

	.navbar-nav {
		> li > a {
	    color: white;
		}

		> li > a:hover {
	    color: $horizon-green;
		}

	}

}

.back-to-top {
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 10px;
  bottom: 2em;
  display: none;
  padding: 1em;
  padding-bottom: 1.5em;
  position: fixed;
  right: 2em;
  text-decoration: none;
}
