$navbar-height: 82px;

.navbar-brand {
    height: $navbar-height;
}
.navbar-collapse > ul > li {
    height: 50px;
    padding: 15px 0;
}

.navbar-default {
	background-color: $horizon-blue;
	border-bottom: 0;
	color: white;

	.navbar-nav {
		> li > a {
	    color: white;
		}

		> li > a:hover {
	    color: $horizon-green;
		}

	}

}

a.back-to-top {
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 10px;
  bottom: 2em;
  color: $horizon-white;
  display: none;
  font-weight: 700;
  font-size: 1.1em;
  height: 52px;
  padding: 1em;
  position: fixed;
  right: 2em;
  text-decoration: none;
}

a.back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.80);
  color: $horizon-white;
  text-decoration: none;
}