@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

// Font weights
$regular: 300;
$bold: 700;

// Base Font
$default-font: Open Sans, sans-serif;
$default-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Headings
$header-font-weight: $bold;

h1, h2, h3, h4, h5, h6 {
  color: $horizon-blue;
  font-family: $default-font;
  font-weight: $default-weight;
}

span.highlight {
    font-weight: 700;
    color: $horizon-blue;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}