@import "colors";
@import "typography";
@import "nav";
@import "footer";
@import "home";
@import "about";
@import "services";
@import "contact";
@import "faqs";
@import "tree";
@import "cookies";

body, html {
  font-family: $default-font;
  font-weight: $default-weight;
  width: 100%;
  height: 100%;
}
#content {
  padding-top: $navbar-height;
}
.content-map {
  height: 600px;
}
.section-heading {
  margin-bottom: 30px;
}
